//
//  Config.xcconfig
//  ESTiOS5Team1
//
//  Created by JaeYeongMAC on 1/14/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


#include "/Users/jaeyeong/Desktop/ios 5/Secret/IGDB.xcconfig"
