<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.282996800970-6pujsn0p8t1c0mfnc0qpjku86i0haeg6</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticResourceInitializationEnabled</key>
	<false/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>ALAN_ENDPOINT</key>
	<string>$(ALAN_ENDPOINT)</string>
	<key>ALAN_CLIENT_KEY</key>
	<string>$(ALAN_CLIENT_KEY)</string>
</dict>
</plist>
