<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALAN_API_KEY</key>
	<string>$(ALAN_API_KEY)</string>
	<key>ALAN_ENDPOINT</key>
	<string>$(ALAN_ENDPOINT)</string>
	<key>IGDBAccessToken</key>
	<string>$(IGDB_ACCESS_TOKEN)</string>
	<key>IGDBClientID</key>
	<string>$(IGDB_CLIENT_ID)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
</dict>
</plist>
