//
//  Config.xcconfig
//  ESTiOS5Team1
//
//  Created by cheon on 1/6/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

IGDB_CLIENT_ID = pt876w7joclcowqr9gszlys9hkynzb
IGDB_ACCESS_TOKEN = vi7a2gm9xoxmwvy3jnssn7x4jpihsp
